.base-button {
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__size-small {
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 8px;

    .base-button__spinner {
      width: 20px;
      height: 20px;
    }
  }

  &__size-middle {
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 8px;
  }

  &__size-big {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 10px;
  }

  &__style-primary {
    background: $blue;

    *,
    p {
      color: $white !important;
    }

    &:hover {
      background: $blueLight;
    }

    &_disable {
      pointer-events: none;
      background: $blueLight !important;
    }

    .base-button__spinner .path {
      stroke: red !important;
    }
  }

  &__style-secondary {
    background: $white;
    border: 1px solid $gray-500;

    * {
      color: $gray-800;
    }

    .base-button__spinner {
      .path {
        stroke: #000 !important;
      }
    }

    &:hover {
      background: $gray-200;
    }
  }

  &__spinner {
    width: 30px;
    height: 30px;
    position: absolute;
  }

  &__text {
    &_hidden {
      opacity: 0 !important;
    }
  }
}
